/*NAVBAR STYLES*/
.navbar-default {
    background-color: #1d3156;
    border-color: #84c3df;
    font-size: medium;
}

.navbar-default .navbar-brand {
    color: #84c3df;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #84c3df;
}

.navbar-default .navbar-nav > li > a, #title {
    /*color: #84c3df;*/
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus, #title:hover, #title:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #1d3156;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #84c3df;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #84c3df;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #84c3df;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #84c3df;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #84c3df;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #84c3df;
}

.navbar-default .navbar-toggle {
    border-color: #84c3df;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #84c3df;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #84c3df;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #84c3df;
}

.navbar-default .navbar-link {
    color: #84c3df;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

/*NAVBAR STYLES END*/

h1, h2, h3, h4, h5, h6 {
    color: #1d3156;
}

.container {
    /*ENABLE BODY SCROLL */
    margin-bottom: 10%;
    /*overflow: auto;*/

    /*FONTS*/
    font-family: 'Varela Round', sans-serif;
    color: black;
    font-size: medium;
    /*background-color: rgba(255,196,16, 0.2);*/
    border-radius: 20px;
}


/* hr color*/
hr {
    border-color:  #84c3df;
}

/* ESTUDIAR IDIOMAS CAJAS*/
.list-group-item {
    background-color: transparent;
}

/*BREADCRUMBS*/
.topnav {
    /*font-size: 0.8em;*/
    color: #000;
    /*background-color: rgba(255,196,16, 0.3);*/
    /*border: 1px #00009C solid;*/
    padding: 0.5em;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

/*imagen del map*/
.map {
    width: 40px;
    height: 40px;
}



/*register page*/
.opciones {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #84c3df;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #84c3df;
    }
}


