//
   Created by iaw1128309 on 5/15/17.

h3.text-center Enlaces para abogados
#abogacia_buttons.text-center
    a.btn.btn-primary(href='/ofertas_abiertas' alt='Usuarios a procesar') Usuarios a procesar
    a.btn.btn-success(href='/rehabilitar_usuarios' alt='Rehabilitar usuarios') Rehabilitar usuarios
    a.btn.btn-primary(href='/responder_consultas' alt='Responder consultas') Responder consultas
    a.btn.btn-warning(href='/revisar_consultas' alt='Revisar consultas') Revisar consultas
hr