extends layout
append head
    meta(charset='utf-8')
    title Chat en tiempo real !
    style.
        #zone_chat strong {
            color: white;
            background-color: black;
            padding: 2px;
        }
block content
    h1 Chat de E-Migration !
        form#formulario_chat(action='/', method='post')
            input#mensaje(type='text', name='mensaje', placeholder='Tu mensaje...', size='50', autofocus='')
            input#enviar_mensaje(type='submit', value='Envoyer')
        section#zone_chat
        script(src='http://code.jquery.com/jquery-1.10.1.min.js')
        script(src='/socket.io/socket.io.js')
        script.
            // Connexion à socket.io
            var website = !{JSON.stringify(website)};
            var socket = io.connect(website);
            //pedimos el apodo, lo enviamos al servidor y lo mostramos en el titulo
            var apodo = prompt('Cual es tu apodo ?');
            socket.emit('nueva_connexion', apodo);
            document.title = apodo + ' - ' + document.title;
            // al recibir un mensage lo mostramos en la pagina
            socket.on('mensaje', function (data) {
                insereMessage(data.apodo, data.mensaje)
            })
            // cuando un nuevo cliente se connecta ,avisamos a los demas
            socket.on('nueva_connexion', function (apodo) {
                $('#zone_chat').prepend('<p><em>' + apodo + ' acaba de conectarse !</em></p>');
            })
            //al enviar el formulario, transmetimos el mensaje y lo mostramos en la pagina
            $('#formulario_chat').submit(function () {
                var mensaje = $('#mensaje').val();
                socket.emit('mensaje', mensaje); //transmite el mensaje a los demas
                insereMessage(apodo, mensaje); // muestra el mensaje en la pagina
                $('#mensaje').val('').focus(); // vacia la zona de chat y repone el  focus
                return false; // permite bloquear el envio clasico del formulario
            });
            // añade mensage en la pagina
            function insereMessage(apodo, mensaje) {
                $('#zone_chat').prepend('<p><strong>' + apodo + '</strong> ' + mensaje + '</p>');
            }
