extends layout
append head
    title FAQ (Consultas)
block content
    h1.text-center FAQ
    h3#message.text-center.text-success #{message}
    h3#error.text-center.text-danger #{error}
    if !user || user.Tipo != 'abogado'
        hr
        #hacer_consultas.text-center
            h3 Hacer una consulta
            form(action='/consultas' method='POST')
                if user
                    label.btn.btn-success.btn-lg
                        input.tipo_consulta(type='radio', name='tipo_consulta', value='privado' alt='consulta privada')
                        | Consulta Privada
                label.btn.btn-primary.btn-lg
                    input.tipo_consulta(type='radio', name='tipo_consulta'  value='publico' alt='consulta publica')
                    | Consulta Publica
                script.
                    $(".tipo_consulta").click(function () {
                        $("#consulta").fadeIn();
                        if ($(this).val() == 'publico') {
                            $("#email_div").fadeIn();
                            $("#email").attr('required', true);
                        } else {
                            $("#email_div").fadeOut();
                            $("#email").attr('required', false);
                        }
                    });
                    $(document).on('click', '#cancelar', function () {
                        $("#consulta").fadeOut();
                    });
                #consulta(style = "display:none").text-justify
                    #email_div
                        label(for="email") Email
                        span.text-danger *
                        input.form-control(type = 'email', name = 'email', id = "email", placeholder = 'Email', required alt = 'Email')
                    label(for="asunto") Asunto
                    span.text-danger *
                    input.form-control(type = 'text', name = 'asunto', id = "asunto", placeholder = 'Asunto de la consulta' required alt = 'Asunto de la consulta')
                    label(for="consulta_mensaje") Consulta completa
                    span.text-danger *
                    textarea.form-control(id = "consulta_mensaje" name='consulta_mensaje', placeholder = 'Consulta completa' required alt = 'Consulta completa')
                    .checkbox
                        label
                            input(type="checkbox" required)
                            | He leido y acepto
                            a(href="/privacy_policy" target="_blank")  la politica de privacidad
                            |  y
                            a(href="/terms_conditions" target="_blank")  los terminos y las condiciones
                            |  de este sitio web
                            span.text-danger *
                    #buttons.text-center
                        button(class='btn btn-lg btn-primary', type='submit')
                            span.glyphicon.glyphicon-send
                            |  Enviar
                        button.btn.btn-lg.btn-danger#cancelar
                            span.glyphicon.glyphicon-remove
                            |  Cancelar
            if !user
                p
                    strong.text-warning (Hay que
                        a(href="/login" alt="Log In")  identificarse
                        |  para hacer consultas privadas)
    hr
    h3 Consultas publicas resueltas

    ul
        each consulta in consultas
            li
                a(data-toggle="collapse" href='##{consulta._id}')
                    h4 #{consulta.Asunto}
                .panel.panel-default.collapse(id='#{consulta._id}')
                    .panel-body
                        .text-right
                            a.btn.btn-primary(data-toggle="collapse" href='##{consulta._id}')
                                span.glyphicon.glyphicon-remove
                                | Cerrar
                        table.table.table-bordered
                            tr
                                th Consulta completa
                                td.info #{consulta.Consulta}
                            tr
                                th Respuesta
                                    ul
                                        li #{consulta.Abogado.Nombre}
                                            |  #{consulta.Abogado.Apellidos}
                                        li (#{consulta.Abogado.Email})
                                td.success
                                    | #{consulta.Respuesta}
                                    if consulta.Fecha_revisada
                                        p.text-right.text-info
                                            strong#fecha_revision (Revisado:
                                        script.
                                            var datetime = new Date(!{JSON.stringify(consulta.Fecha_revisada)}),
                                                strDate = datetime.getDate() + '-' +
                                                    (datetime.getMonth() + 1) + '-' +
                                                    datetime.getFullYear() + ' a las ' +
                                                    datetime.getHours() + ':' + datetime.getMinutes();

                                            document.getElementById('fecha_revision').innerHTML += ' ' + strDate + ')';
                        if user
                            form.text-right(action='/revisar_consulta' method='POST')
                                input(type='hidden' name='consulta_id' value='#{consulta._id}')
                                button.btn.btn-warning.revisar_consulta(type='submit' alt='Marcar la consulta para revisar')
                                    span.glyphicon.glyphicon-flag
                                    |  Revisar
                                p.text-right.text-warning
                                    strong (Solo se puede marcar consultas para revisar una vez al día)
                                if user.Ultimo_flag && new Date() - user.Ultimo_flag < 86400000
                                    script.
                                        $('.revisar_consulta').attr('disabled', true);
                                        $('.revisar_consulta').attr('title', 'Solo se puede marcar consultas para revisar una vez al día');