extends layout
append head

    title Detalles de la oferta - #{oferta.Puesto}
block content
    .list-group
        form(method="post", action="/oferta_seleccionada")
            input(type="hidden", value="" + oferta._id + "", name="oferta")
            //si el usuario es particular y no le han contratado aun, puede apuntarse a ofertas
            if user.Tipo == 'particular' && !user.Oferta_contratada
                button.btn.btn-warning.pull-right(type="submit") Inscribirme en esta oferta
            h3.list-group-item-heading Descripción
            p.list-group-item-text #{oferta.Descripcion}
            br

            h3.list-group-item-heading Número de vacantes
            p.list-group-item-text #{oferta.Plazas}
            br

            h3.list-group-item-heading Duración del contrato
            p.list-group-item-text #{oferta.Duracion} meses
            br

            h3.list-group-item-heading Lugar
            p.list-group-item-text #{oferta.Lugar}
            br

            h3.list-group-item-heading Sueldo
            if oferta.Sueldo
                p #{oferta.Sueldo} €/mes
            else
                p Sueldo no disponible
            br

            h3.list-group-item-heading Requisitos
            if oferta.Requisitos
                p #{oferta.Requisitos}
            else
                p Requisitos no especificados
            br

            h3.list-group-item-heading Fecha de publicación
            p.
               #{oferta.Fecha_publicacion.getDate()}/#{oferta.Fecha_publicacion.getMonth() + 1}/#{oferta.Fecha_publicacion.getFullYear()}
               a las #{oferta.Fecha_publicacion.getHours()}:#{oferta.Fecha_publicacion.getMinutes()}:#{oferta.Fecha_publicacion.getSeconds()}
