extends layout
append head
    title Empadronarse
block content
    h1.text-center Empadronarse
    hr
    h2 ¿Para qué sirve?
    ul.text-justify
        li Solicitar la regularización de permisos de residencia o permiso de trabajo.
        li El acceso a los servicios municipales de bienestar (por ejemplo: ayuda social).
        li La obtención de documentos administrativos tales como la seguridad social.
        li Sacarse el permiso de conducir o regular la licencia de conducir en función del país de origen.
        li Inscripción en las escuelas primarias, secundarias, universidades...
    hr
    h2 Requisitos
    ol.text-justify
        li
            b El formulario de solicitud o la hoja de empadronamiento (disponible en la oficina o en Internet).
        li
            b Documento acreditativo de vuestra identidad (fotocopia y original)
            ul
                li Pasaporte
                li DNI
                li tarjeta de residencia
                li NIE
        li
            b Un justificante de su domicilio (fotocopia y original)
            ul
                li
                    b Si eres inquilino,
                    | contrato de alquiler o autorización firmada por el propietario
                li
                    b Si eres propietario,
                    | debe llevar la escritura de la propiedad, contrato de compra-venta
    hr
    h2 Métodos para empadronarse
    ul.text-justify
        li
            b Por Internet
            ol
                li
                    a(href='https://w30.bcn.cat/APPS/portaltramits/formulari/ptbaltapadro/T06a/init/ca/default.html?' target="blank" alt="Formulario de empadronamiento") Rellenar este formulario
                li Puede enviar por correo el formulario de solicitud. Dispone de un mes para enviar los documentos solicitados a la dirección que se indica.
                li La confirmación de se empadronamiento le llegará por correo.
        li
            b Sur rendez-vous
            ul
                li Para obtener tu empadronamiento, tendrás que ir al
                    b  Ayuntamiento o Junta Municipal del Distrito
                    |  (hay una oficina administrativa en cada distrito). Te recomiendo pedir una
                    u  cita previa,
                    |  ya que te puede ahorrar algo tiempo. Puedes solicitarla por teléfono al 101 o a través de
                    a(href="https://w30.bcn.cat/APPS/portaltramits/ca/inici/default.html" target="blank" alt="Solicitar cita de empadronamiento en la pagina web")  la página web.





