extends layout
append head
    title Ofertas de trabajo

block content
    h3.text-danger.text-center #{error}
    //si el usuario actual es un empresario, le saldra esta ventana
    if user.Tipo == 'empleador'
        include navbar_empleador
        div(style="background-color:#ffc410;")
            p.
                Contratar a alguien es darle una oportunidad para poder regularse. Sin contrato no hay <b>permiso de residéncia</b> y sin documento es sinonimo
                falta de trabajo, condenado a no poder ir a visitar sus familiares porqué no habrá vuelta, en fin loas inconvenientes son inombrables.
                Participa en reparar los sueños rotos contratando por lo menos un sin documento
        button.btn.btn-success.btn-lg.align-middle(type='button', style="width:100%;", data-toggle='modal', data-target='#modal1') Publicar empleo
        //Modal
        #modal1.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Rellenar el formulario de la oferta
                    .modal-body
                        form.form-horizontal(action='/empleo', method="post")
                            .form-group
                                label.control-label.col-sm-2(for='puesto') Puesto:
                                .col-sm-10
                                    input#puesto.form-control(type='text', placeholder='Puesto a cubrir', name='puesto', required, autofocus)

                            .form-group
                                label.control-label.col-sm-2(for='descripcion') Descripción:
                                .col-sm-10
                                    textarea#descripcion.form-control(placeholder='Describe la oferta', rows="5", name='descripcion', required, autofocus)

                            .form-group
                                label.control-label.col-sm-2(for='requisitos') Requisitos:
                                .col-sm-10
                                    textarea#requisitos.form-control(placeholder='Requisitos para realizar el trabajo', rows="5", name='requisitos', autofocus)

                            .form-group
                                label.control-label.col-sm-2(for='plazas') Plazas:
                                .col-sm-10
                                    input#plazas.form-control(type='number', min='1', placeholder='plazas disponibles', name='plazas', required, autofocus)

                            .form-group
                                label.control-label.col-sm-2(for='duracion') Duración:
                                .col-sm-10
                                    input#duracion.form-control(type='number', min="1", placeholder='Especifica la duración en meses', name='duracion', required, autofocus)

                            .form-group
                                label.control-label.col-sm-2(for='jornada') Jornada:
                                .col-sm-10#jornada
                                    input.radio-inline(type='radio', name='jornada', value="Completa", checked, autofocus)
                                    | Completa
                                    input.radio-inline(type='radio', name='jornada', value="Parcial", autofocus)
                                    | Parcial

                            .form-group
                                label.control-label.col-sm-2(for='lugar') Lugar:
                                .col-sm-10
                                    input#lugar.form-control(type='text', placeholder='Donde se hará el trabajo', name='lugar', required, autofocus)

                            .form-group
                                label.control-label.col-sm-2(for='sueldo') Saldo:
                                .col-sm-10
                                    input#sueldo.form-control(type='number', min='0', placeholder='Especifica el saldo si lo desea', name='sueldo', autofocus)

                            .form-group
                                .col-sm-offset-2.col-sm-10
                                    button.btn.btn-primary(type='submit') Publicar
                    .modal-footer
                        button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
    else
        if user.Tipo == 'particular'
            div(style="background-color:#ffc410;")
                | Antes de intentar apuntarse a una oferta es <b>imprescindible</b> consultar los requisitos exigidos
                | <strong>Si no cumple los requisitos, por favor ahorranos tiempo absteniendose, le agradecemos su colaborración
                br
                //Trigger the modal with a button
            button.btn.btn-danger.btn-lg#btnmodal(type='button', style="width:100%;", data-toggle='modal', data-target='#myModal') Consulta los requisitos antes de intentar apuntarte en ninguna oferta
            //Modal
            #myModal.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title Requisitos para apuntarse en ofertas
                        .modal-body
                            p
                                div
                                    p.text-justify
                                        | Estas ofertas estan destinadas a los usuarios que estan en situación de regularización  y que aun no tienen un contrato de trabajo para presentar su solicitud.
                                        | Si estas en esta situación y cumples los siguienetes requisitos  entonces puedes apuntarte en todas las ofertas que quieras
                                ul
                                    li Estancia continua en España de 3 o mas años
                                    li No tener antecedentes policiales y/o penales en vigor
                            p
                                | Para comprobar el cumplimiento de estos requisitos nos  tendra que presentar:
                                ul
                                    li El empadromiento si siempre has vivido en la misma casa o el historial de padro en caso contrario
                                    li un certificado de penales donde se manifiesta si tienes antecedentes abiertos o no
                            p.
                                Para más información puedes consultar gratuitamente a <a href="/consultas" alt="consultas">nuestros abogados</a>
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
    hr

    if user.Tipo == 'particular'
        script.
            $(document).ready(function () {
                $(".ofertas *").prop("disabled", true);
                $("#btnmodal").on('click', function () {
                    $(".ofertas *").prop("disabled", false);
                })
            });
    .ofertas
        if message
            .text-center
                span #{message}

        if !datos.length
            .alert.alert-warning.text-center
                span Lo sentimos, de momento no hay ofertas disponibles!!!

        else
            each val in datos
                .list-group
                    form(method="post", action="/detalles_oferta")
                        input(type="hidden", value="" + val._id + "", name="oferta_seleccionada")
                        button.btn.btn-lg(style="width: 100%", type="submit")
                            a.list-group-item(type='submit')
                                h4.list-group-item-heading #{val.Puesto}
                                p.list-group-item-text #{val.Descripcion.split(/\s+/).slice(0, 15).join(" ")}...
                                p.list-group-item-text #{val.Lugar} ---- #{val.Fecha_publicacion.getDate()}/#{val.Fecha_publicacion.getMonth() + 1}/#{val.Fecha_publicacion.getFullYear()}
                                if val.Sueldo
                                    p.list-group-item-text Jornada #{val.Jornada} ---- #{val.Sueldo} €/mes
                                else
                                    p.list-group-item-text Jornada #{val.Jornada} ---- Sueldo no disponible

