extends layout
append head
    title Estudiar idiomas
block content
    h1.text-center
        | Estudiar idiomas
    p.text-justify
        | Hay muchos sitios donde se puede estudiar Castellano y/o Catalán. A continuación se listan unas entidades que dispensan cursos gratuitamente con certificados oficiales.
    hr
    h3 Cursos presenciales
    ul.list-group
        li.list-group-item#cpnl
            h4.list-group-item-heading  Consorci per la normalització lingüistica(CPNL)
            p.list-group-item-text.text-justify
                | Los cursos que se ofrecen aquí son dirigidos a personas recién llegadas que no entienden el catalán y quieren adquirir las habilidades de comprensión y de producción oral de frases simples que les permita actuar mínimamente en situaciones cotidianas.
                | Igualmente, aprenderán a utilizar algunas estrategias, verbales y no verbales, para actuar en situaciones poco previsibles.
                | Sin embargo, una vez terminado el curso los habrá fuerza cooperación por parte de los interlocutores, que a menudo deberán utilizar la repetición y una pronunciación cuidada.
                | Los cursos iniciales tienen por objetivo que las personas recién llegadas hagan una primera aproximación a la lengua catalana y la duración de los cursos se adapta a las necesidades de los diferentes colectivos y territorios.
                | Desde aquí se puede solicitar una pareja para practicar de manera oral su nivel de catalán
                | Para mas información
                a(href='http://www.cpnl.cat/', alt='siio web del cpnl', target='_blank')
                    b  pincha aquí<br>
                | Mapa
                a(href='https://www.google.com/maps/place/Centre+de+Normalitzaci%C3%B3+Ling%C3%BC%C3%ADstica+de+Barcelona/@41.381058,2.1682335,16z/data=!4m8!1m2!2m1!1scpnl+barcelona!3m4!1s0x0:0x4f8c9556079c46!8m2!3d41.3810149!4d2.1746385?hl=es', alt='mapa web del ccoo', target='_blank')
                    img.map.small(src="../img/maps_icon.png" alt="imagen de mapa" title="mapa ccoo")

        li.list-group-item
            h4.list-group-item-heading  Comisión obrera (CCOO)
            p.list-group-item-text.text-justify
                |Curso básico de 60 horas, cuatrimestral con clases de 2h, dos días a la semana. Es posible cursar dos niveles más.<br>
                | Para mas información
                a(href='http://www.ccoo.cat/aspnet/formacio.aspx', alt='siio web del ccoo', target='_blank')
                    b  pincha aquí<br>
                | Mapa
                a(href='https://www.google.com/maps/place/Via+Laietana,+16,+08003+Barcelona,+Espa%C3%B1a/@41.38341,2.179692,16z/data=!4m5!3m4!1s0x12a4a2fed36ddcef:0x3788a5e8eb849778!8m2!3d41.3835715!4d2.1795068?hl=es', alt='mapa web del ccoo', target='_blank')
                    img.map(src="../img/maps_icon.png" alt="imagen de mapa" title="mapa ccoo" )


        li.list-group-item
            h4.list-group-item-heading Fundación Ibn Batuta
            p.list-group-item-text.text-justify
                | Las clases siguen el calendario escolar, se organizan trimestralmente y se imparten en sesiones de 1 hora y media, dos días por semana.
                | El tipo de alumnado es muy amplio y variado: procedencia lingüística diversa y los niveles que ofrecemos actualmente son:
                ul
                    li Nivel Básico (A1)
                ul
                    li Nivel Inicial (A2)
                | Para mas información
                a(href='http://www.fundacionibnbattuta.org/es/programas/formacion-en-lengua-y-sociedad', target='_blank')
                    b  pincha aquí<br>
                | Mapa
                a(href='https://www.google.com/maps/place/Ascib-Asociaci%C3%B3n+Sociocultural+Ibn+Batuta/@41.3786217,2.166983,17z/data=!4m5!3m4!1s0x12a4a25937196f6b:0xd7c60e75bf243f70!8m2!3d41.3772289!4d2.1700461?hl=es', alt='mapa web del ccoo', target='_blank')
                    img.map(src="../img/maps_icon.png" alt="imagen de mapa" title="mapa ccoo")

    h3 Cursos online
    ul.list-group
        li.list-group-item
            h4.list-group-item-heading  News in slow spanish
            p.list-group-item-text.text-justify
                | Noticias explicados con español suave. <br>
                | Se puden cursar los niveles <b>intermedio</b> y <b> avanzado</b><br>
                | Para mas información
                a(href='https://www.newsinslowspanish.com/', target='_blank')
                    b  pincha aquí

        li.list-group-item
            h4.list-group-item-heading  VideoEle
            p.list-group-item-text.text-justify
                | VideoEle contiene unidades didácticas organizadas en cuatro niveles. Están basadas en vídeos breves (de entre 3 y 6 minutos) de elaboración propia, con su correspondientes actividades de explotación didáctica.
                | Así pues, los materiales didácticos de VideoEle ponen énfasis en las destrezas de la comprensión audiovisual y, en menor medida, en la comprensión lectora.
                | Se dirige a alumnos adolescentes y adultos que aprenden español como lengua extranjera, es decir, se encuentran en un país donde no se habla español.
                | También se dirige los alumnos que realizan viajes lingüísticos a países de habla hispana, y normalmente se encuentran en escuelas privadas y universidades.
                | Asimismo, VideoEle es útil para los inmigrantes que se han establecido en un país donde se habla español. Las Escuelas Oficiales de Idiomas, los cursos de acogida de inmigrantes y la educación compensatoria pueden encontar útil el material didáctico ofrecido en este web.
                a(href='www.videoele.com/', target='_blank')
                    b  pincha aquí
         li.list-group-item
            h4.list-group-item-heading  parla.cat
            p.list-group-item-text.text-justify
                | Consorci per la normalització lingüistica(CPNL) ofrece tambien una plataforma online para aprender el Catalán.
                | Lo unico que necesita es registrarse
                a(href='http://www.parla.cat/', target='_blank')   parla.cat
    h3 Intercambio de idiomas
    ul.list-group
        li.list-group-item
            h4.list-group-item-heading  Tandem Barcelona
            p.list-group-item-text.text-justify
                |Es importante practicar con el idioma que se está aprendiendo con personas nativas, especialmente si están interesadas en llevar a cabo un tandem o intercambio de idiomas, es decir, un encuentro en el que se practican la lengua nativa tanto de uno como de otro, y que puede ser una buena forma para saber más de Barcelona, conocer los lugares favoritos o costumbres de alguien que vive aquí y de paso, hacer nuevos amigos.
                |En <a href="#cpnl"> cpnl</a> hay un programa que se denomina <b> voluntariat per la llengua</b> que permite tener una pareja con quien praticar el catalán
                |A continuación dejamos unos enlaces para intercambiar idiomas en Barcelona <br>
                a(href="https://www.meetup.com/es-ES/BCN-LANGUAGESnFRIENDS/" alt="intercambiar idiomas") Barcelona language & friends <br>
                a(href="https://www.conversationexchange.com/" alt="intercambiar idiomas") Conversation Exchange <br>
                a(href="https://www.facebook.com/tandeminbarcelona/" alt="intercambiar idiomas") Tandem Barcelona <br>
    p.text-justify.text-success
        |Esta información es solamente orientativa,si buscais por internet seguro encontrareis mas información al respecto

    h2 Bibliotecas
    ul.list-group
        li.list-group-item
            h4.list-group-item-heading  Bibliotecas municipales
            p.list-group-item-text.text-justify.text-info
                |Las bibliotecas son servicios de proximidad, espacios abiertos y de calidad, un acceso al conocimiento, una diversidad de usuarios.
            p.list-group-item-text.text-justify
                | La red de bibliotecas facilita el acceso libre de toda la ciudadanía a la información y el conocimiento, y fomenta la lectura.
                | Lo hace mediante su colección y su programación, plural y abierta, conectada con otros agentes culturales, sociales y educativos del territorio.
                | Las bibliotecas son equipamientos que miran al futuro, con una fuerte apuesta por el acceso, la formación y el uso de las nuevas tecnologías.
                | Desde la profesionalidad, el personal de cada biblioteca realiza una tarea de orientación y selección.
                | Ofrece una atención personalizada en la búsqueda, con el fin de acompañar a los usuarios cuando no saben lo que buscan o no saben dónde buscarlo.
                br
                |La biblioteca es un centro público social, de ámbito local, abierto a todos.
                |Estimula la relación entre usuarios y la participación en las actividades.
                |Su carta de servicios garantiza el acceso democrático a la información, la transmisión de conocimientos, la formación, la educación permanente, la autoformación y el ocio.

        li.list-group-item
            h4.list-group-item-heading  Carné de bibliotecas
            p.list-group-item-text.text-justify
                |El carné puede solicitarse desde el web.
                |El carné es válido para todas las bibliotecas públicas de Barcelona y, desde hace un tiempo, también es válido para el resto de bibliotecas públicas de Cataluña.
                |Con el carné, gratuito, personal e intransferible, podrás utilizar diversos servicios, como son el préstamo, la lectura a domicilio, el acceso a internet y a la red Wi-Fi, la consulta de fondos especializados, la participación en los clubes de lectura o los cursos específicos que se realizan en los espacios multimedia. Los duplicados tienen un coste de 1 euro.
                |El carné también ofrece, desde hace años, descuentos a entidades que promueven actividades y servicios culturales en la ciudad de Barcelona y por todo el territorio catalán y que pueden consultarse en el folleto anual.
                |El carné puede solicitarse desde el web: solo tienes que rellenar el formulario, indicar en qué biblioteca quieres recogerlo y enviarlo. <a href="http://aladi.diba.cat/screens*spi/formulari3_spi.html" alt="solicitar carné">Solicitar el carné</a>
                | Además, los titulares del carné de Bibliotecas de Barcelona pueden disfrutar del servicio de suscripción al boletín electrónico mesbiblioteques.cat con el fin de obtener información de la oferta de las actividades, según los intereses escogidos, que se llevan a cabo en su biblioteca (o en las bibliotecas que hayan seleccionado) y de los descuentos puntuales o especiales que ofrecen las entidades con las que Bibliotecas de Barcelona ha establecido convenio.
                |Para hacer el carné a los menores de 14 años, es necesario presentar el DNI o el NIE si tienen y, en todo caso, siempre deben tener la autorización de los padres o tutores legales. Esta autorización habilita a los menores a utilizar todos los servicios, incluyendo el acceso a internet. La biblioteca mantendrá un registro con estas autorizaciones. El uso del carné por parte de los menores de 18 años es responsabilidad de los padres o tutores legales, quienes deben ejercer el control necesario.
                |Las entidades, asociaciones e instituciones que lo soliciten pueden disponer de un carné colectivo expedido a nombre del centro, con la indicación de la persona responsable y de las personas autorizadas para su uso.