extends layout
append head
    title Subir ficheros
    script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
    link(rel='stylesheet', href='https://rawgit.com/enyo/dropzone/master/dist/dropzone.css')
    script.
        function successUpload() {
            if (cvUploaded && padroUploaded && certUploaded) {
                $('#message').text('Documentos subidos exitosamente!').addClass('alert').addClass('alert-success').addClass('text-center').fadeOut(5000);
            }
        }
        function checkFiles() {
            if (cvAdded && padroAdded && certAdded) {
                console.log('ok');
                $("#submit").attr('disabled', false);
            } else {
                $("#submit").attr('disabled', true);
            }
        }
        var cvUploaded = false,
            padroUploaded = false,
            certUploaded = false;

        var cvAdded = false,
            padroAdded = false,
            certAdded = false;

        Dropzone.options.cv = {
            paramName: "file",
            acceptedFiles: 'application/pdf, .odt, .doc, .png, .jpg, .jpeg, .docx',
            autoProcessQueue: false,
            maxFiles: 1,
            maxFilesize: 3,
            filesizeBase: 1024,
            createImageThumbnails: true,
            maxThumbnailFilesize: 3,
            thumbnailWidth: 120,
            thumbnailHeight: 120,
            clickable: true,
            ignoreHiddenFiles: true,
            addRemoveLinks: true,
            dictFallbackMessage: "Tu navegador no suporta drag'n'drop para subir ficheros.",
            dictFileTooBig: "Fichero demasiado grande ({{filesize}}MiB). Tamaño maximo autorizado: {{maxFilesize}}MiB.",
            dictInvalidFileType: "No se puede subir ficheros de este tipo",
            dictResponseError: "Server responded with {{statusCode}} code.",
            dictCancelUpload: "Abortar la subida",
            dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?",
            dictRemoveFile: "Borrar el fichero",
            dictMaxFilesExceeded: "Haz alcanzado el maximo de ficheros para subir.",
            accept: function (file, done) {
                return done();
            },
            init: function () {
                var myDropzone = this;
                this.on("addedfile", function (file) {
                    if (file.size > 3 * 1024 * 1024) {
                        alert('Este fichero supera los 3MB');
                    }
                    console.log("added");
                    cvAdded = true;
                    if (myDropzone.files.length != 1) {
                        alert('Solo puedes subir un fichero aqui');
                        cvAdded = false;
                    }
                    checkFiles();
                });


                this.on("removedfile", function (file) {
                    cvAdded = false;
                    if (myDropzone.files.length == 1) {
                        cvAdded = true;
                    }
                    checkFiles();
                });

                this.on('success', function (file, response) {
                    cvUploaded = true;
                    successUpload();
                });

                var myDropzone = this;

                $("#submit").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
            },
            dictDefaultMessage: "Arrastra aquí tu curriculum o clica encima para seleccionarlo desde su ubicación"
        };

        Dropzone.options.padro = {
            paramName: "file",
            acceptedFiles: 'application/pdf, .odt, .doc, .png, .jpg, .jpeg, .docx',
            autoProcessQueue: false,
            maxFiles: 1,
            maxFilesize: 3,
            filesizeBase: 1024,
            createImageThumbnails: true,
            maxThumbnailFilesize: 3,
            thumbnailWidth: 120,
            thumbnailHeight: 120,
            clickable: true,
            ignoreHiddenFiles: true,
            addRemoveLinks: true,
            dictFallbackMessage: "Tu navegador no suporta drag'n'drop para subir ficheros.",
            dictFileTooBig: "Fichero demasiado grande ({{filesize}}MiB). Tamaño maximo autorizado: {{maxFilesize}}MiB.",
            dictInvalidFileType: "No se puede subir ficheros de este tipo",
            dictResponseError: "Server responded with {{statusCode}} code.",
            dictCancelUpload: "Abortar la subida",
            dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?",
            dictRemoveFile: "Borrar el fichero",
            dictMaxFilesExceeded: "Haz alcanzado el maximo de ficheros para subir.",
            accept: function (file, done) {
                return done();
            },
            init: function () {
                var myDropzone = this;

                this.on("addedfile", function (file) {
                    if (file.size > 3 * 1024 * 1024) {
                        alert('Este fichero supera los 3MB');
                    }
                    padroAdded = true;
                    if (myDropzone.files.length != 1) {
                        alert('Solo puedes subir un fichero aqui');
                        padroAdded = false;
                    }
                    checkFiles();
                });

                this.on("removedfile", function (file) {
                    padroAdded = false;
                    if (myDropzone.files.length == 1) {
                        padroAdded = true;
                    }
                    checkFiles();
                });
                this.on('success', function (file, response) {
                    padroUploaded = true;
                    successUpload();
                });
                var myDropzone = this;

                $("#submit").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
            },
            dictDefaultMessage: "Arrastra aquí tu empadromiento/historial padro o clica encima para seleccionarlo desde su ubicación"
        };

        Dropzone.options.cert = {
            paramName: "file",
            acceptedFiles: 'application/pdf, .odt, .doc, .png, .jpg, .jpeg, .docx',
            autoProcessQueue: false,
            maxFiles: 1,
            maxFilesize: 3,
            filesizeBase: 1024,
            createImageThumbnails: true,
            maxThumbnailFilesize: 3,
            thumbnailWidth: 120,
            thumbnailHeight: 120,
            clickable: true,
            ignoreHiddenFiles: true,
            addRemoveLinks: true,
            dictFallbackMessage: "Tu navegador no suporta drag'n'drop para subir ficheros.",
            dictFileTooBig: "Fichero demasiado grande ({{filesize}}MiB). Tamaño maximo autorizado: {{maxFilesize}}MiB.",
            dictInvalidFileType: "No se puede subir ficheros de este tipo",
            dictResponseError: "Server responded with {{statusCode}} code.",
            dictCancelUpload: "Abortar la subida",
            dictCancelUploadConfirmation: "¿Esta seguro que quieres cancelar la subida?",
            dictRemoveFile: "Borrar el fichero",
            dictMaxFilesExceeded: "Haz alcanzado el maximo de ficheros para subir.",
            accept: function (file, done) {
                return done();
            },
            init: function () {
                var myDropzone = this;
                this.on("addedfile", function (file) {
                    if (file.size > 3 * 1024 * 1024) {
                        alert('Este fichero supera los 3MB');
                    }
                    certAdded = true;
                    if (myDropzone.files.length != 1) {
                        alert('Solo puedes subir un fichero aqui');
                        certAdded = false;
                    }
                    checkFiles();
                });

                this.on("removedfile", function (file) {
                    certAdded = false;
                    if (myDropzone.files.length == 1) {
                        certAdded = true;
                    }
                    checkFiles();
                });
                this.on('success', function (file, response) {
                    certUploaded = true;
                    successUpload()
                });

                var myDropzone = this;

                $("#submit").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
            },
            dictDefaultMessage: "Arrastra aquí tu certificado de antecedentes penales o clica encima para seleccionarlo desde su ubicación"
        };

block content
    script.
        $(document).ready(function () {
            $("#submit").attr('disabled', true);
        });




    div
        h1 Subir Curriculum
        form#cv.dropzone(action='/file-upload', enctype='multipart/form-data', method='post')
            input(type="hidden", name="id", value="" + idOferta + "")
            input(type="hidden", name="curriculum", value="cv")
            .fallback
                input(name="file", type="file")

        h1 Subir Empadromiento
        form#padro.dropzone(action='/file-upload', enctype='multipart/form-data', method='post')
            input(type="hidden", name="id", value="" + idOferta + "")
            input(type="hidden", name="padro", value="padro")
            .fallback
                input(name="file", type="file")


        h1 Subir Certificado de antecedentes
        form#cert.dropzone(action='/file-upload', enctype='multipart/form-data', method='post')
            input(type="hidden", name="id", value="" + idOferta + "")
            input(type="hidden", name="certificado", value="certificado")
            .fallback
                input(name="file", type="file")
        .row
            .col-md-4.text-left
                a.btn.btn-primary.btn-lg(href='/empleo', style="width:100%;") Volver a las ofertas
            .col-md-4
                span#message
            .col-md-4.text-right
                button.btn.btn-success.btn-lg#submit(type="submit", style="width:100%;height: 100%") Enviar








