extends layout
append head
    title Subir Curriclum
    script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
    link(rel='stylesheet', href='https://rawgit.com/enyo/dropzone/master/dist/dropzone.css')
    script.
        function successUpload() {
            if (cvUploaded) {
                $('#message').text('Documentos subidos exitosamente!').addClass('alert').addClass('alert-success').addClass('text-center').fadeOut(5000);
            }
        }
        function checkFiles() {
            if (cvAdded) {
                console.log('ok');
                $("#submit").attr('disabled', false);
            } else {
                $("#submit").attr('disabled', true);
            }
        }
        var cvUploaded = false;

        var cvAdded = false;

        Dropzone.options.cv = {
            paramName: "file",
            acceptedFiles: 'application/pdf, .odt, .doc, .png, .jpg, .jpeg, .docx',
            autoProcessQueue: false,
            maxFiles: 1,
            maxFilesize: 3,
            filesizeBase: 1024,
            createImageThumbnails: true,
            maxThumbnailFilesize: 3,
            thumbnailWidth: 120,
            thumbnailHeight: 120,
            clickable: true,
            ignoreHiddenFiles: true,
            addRemoveLinks: true,
            dictFallbackMessage: "Tu navegador no suporta drag'n'drop para subir ficheros.",
            dictFileTooBig: "Fichero demasiado grande ({{filesize}}MiB). Tamaño maximo autorizado: {{maxFilesize}}MiB.",
            dictInvalidFileType: "No se puede subir ficheros de este tipo",
            dictResponseError: "Server responded with {{statusCode}} code.",
            dictCancelUpload: "Abortar la subida",
            dictCancelUploadConfirmation: "¿Estas seguro que quieres cancelar el proceso?",
            dictRemoveFile: "Borrar el fichero",
            dictMaxFilesExceeded: "Haz alcanzado el maximo de ficheros para subir.",
            accept: function (file, done) {
                return done();
            },
            init: function () {
                var myDropzone = this;

                this.on("addedfile", function (file) {
                    if (file.size > 3 * 1024 * 1024) {
                        alert('Este fichero supera los 3MB');
                    }
                    console.log("added");
                    cvAdded = true;
                    if (myDropzone.files.length != 1) {
                        alert('Solo puedes subir un fichero aqui');
                        cvAdded = false;
                    }
                    checkFiles();
                });

                this.on("removedfile", function (file) {
                    cvAdded = false;
                    if (myDropzone.files.length == 1) {
                        cvAdded = true;
                    }
                    checkFiles();
                });

                this.on('success', function (file, response) {
                    cvUploaded = true;
                    successUpload();
                });

                var myDropzone = this;

                $("#submit").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
            },
            dictDefaultMessage: "Arrastra aquí tu curriculum o clica encima para seleccionarlo desde su ubicación"
        };
block content
    script.
        $(document).ready(function () {
            $("#submit").attr('disabled', true);
        });

    div
        h1 Subir Curriculum

        form#cv.dropzone(action='/file-upload', enctype='multipart/form-data', method='post')
            input(type="hidden", name="id", value="" + idOferta + "")
            input(type="hidden", name="curriculum", value="cv")
            .fallback
                input(name="file", type="file")
        button.btn.btn-success.btn-lg.pull-right#submit(type="submit") Enviar

    span#message