//link(href='/css/demo.css', rel='stylesheet')
link(href='/css/footer-distributed-with-address-and-phones.css', rel='stylesheet')
link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(href='http://fonts.googleapis.com/css?family=Cookie', rel='stylesheet', type='text/css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script.
    $(window).scroll(function () {
        if ($(this).scrollTop() > 0) {
            $(".footer-distributed").fadeOut();
        } else {
            $(".footer-distributed").fadeIn();
        }
    });
footer.footer-distributed
    .footer-left
        h3
            | E-
            span Migration

        div
            img.img-circle(src='../img/logo.jpg' alt='Site Logo' title='Site Logo' width=150 height=100)

        p.footer-company-name E-Migration
            Copyright &copy; #{new Date().getFullYear()}

        //p.footer-links
        //    a(href='#') Home
        //    |                    ·
        //    a(href='#') Blog
        //    |                    ·
        //    a(href='#') Pricing
        //    |                    ·
        //    a(href='#') About
        //    |                    ·
        //    a(href='#') Faq
        //    |                    ·
        //    a(href='#') Contact
      

    .footer-center
        div
            i.fa.fa-map-marker
            p
                |  Barcelona, Spain
        div
            i.fa.fa-envelope
            p
                a(href='mailto:support@emigration.com') support@emigration.com
    .footer-right
        p.footer-company-about
            //span About the company
            a(href="/")
                span About the company
            a(href="/privacy_policy" alt="politica de privacidad") Politica de privacidad
            br
            a(href="/terms_conditions" alt="terminos y condiciones") Terminos y condiciones
        .footer-icons
            a(href='#')
                i.fa.fa-facebook
            a(href='#')
                i.fa.fa-twitter
            a(href='#')
                i.fa.fa-linkedin
            a(href='https://gitlab.com/iaw1128309/PDAW' target="_blank" alt="E-migration repositorio Git")
                i.fa.fa-gitlab
