extends layout
append head
    title Fuentes
block content
    h1.text-center Fuentes
    hr
    ul.text-justify
        li: a(href='http://www.barcelonacheckin.com/es/r/guia_barcelona/articulos/empadronamiento.php' target="_blank" alt="Empadronamiento fuente")
                | Empadronamiento
        li Estudiar idiomas
            ul.text-justify
                li: a(href="http://www.cpnl.cat/" alt="cpnl" target="_blank") cpnl
                li: a(href="http://www.esencialblog.es/es/cursos-gratuitos-de-espanolcatalan-e-intercambio-de-idiomas/" alt="esecial blog" target="_blank") Essencial blog
                li: a(href="https://www.meetup.com/es-ES/BCN-LANGUAGESnFRIENDS/" alt="intercambiar idiomas") Barcelona language & friends
                li: a(href="https://www.conversationexchange.com/" alt="intercambiar idiomas") Conversation Exchange
                li: a(href="https://www.facebook.com/tandeminbarcelona/" alt="intercambiar idiomas") Tandem Barcelona
                li: a(href="http://ajuntament.barcelona.cat/biblioteques/es/canal/qui-som" alt="bibliotecas barcelona") Bibliotecas Barcelona
                li: a(href="http://w110.bcn.cat/portal/site/Biblioteques/menuitem.d643af84323b134fa0c5a0c5a2ef8a0c/index0eb8.html?vgnextoid=7ede33e5ad009210VgnVCM10000074fea8c0RCRD&lang=es_ES" alt="carné bibliotecas barcelona") Carné bibliotecas Barcelona
        li
            a(href='http://www.seg-social.es/Internet_1/Trabajadores/PrestacionesPension10935/Asistenciasanitaria/DesplazamientosporE11566/TSE2/index.htm' alt="Tarjeta Sanitaria fuente" target="_blank")
                | Tarjeta Sanitaria Europea






