extends layout
append head
    title Inicio
block content
    h3.text-danger.text-center #{error}
    div.alert.alert-success.text-center
    script.
        var mes = !{JSON.stringify(message)};
        if (mes.length) {
            $(".alert").text(mes).css("background-color","#84c3df").fadeOut(5000);
        } else {
            $(".alert").hide();
        }

    h1 E-Migration
    p.text-justify
        |Bienvenidos y Bienvenidas, este sitio web está destinado a todas aquellas personas que residen en territorio de Catalunya (España), y que no tienen regularizada su situación administrativa.<br>
        |<strong>Nuestra misión</strong> es poder ofrecer información actualizada, herramientas y mecanismos para que las personas que se encuentran en situación irregular puedan regularizarse.<br>
        |Trabajamos para facilitar el proceso de regularización y ofrecer apoyo en la gestión burocrática de trámites para personas extranjeras.
    br
    h3.text-center Nuestros valores que guían la acción que llevamos a cabo
    .row
        .col-sm-3
            h4 INTERCULTURALIDAD
            p
                | Apostando por los procesos que contribuyan a mejorar la comunicación, la relación, el intercambio y la integración intercultural entre personas o grupos que comparten un territorio y pertenecen a una o varias culturas diferentes.

        .col-sm-3
            h4 JUSTICIA SOCIAL
            p
                |Garantizando el acceso, en condiciones de igualdad, a los diferentes recursos y servicios por parte de la población más excluida social, cultural, política y económicamente. Apostando por la redistribución de la riqueza, los recursos y los servicios.
        .col-sm-3
            h4 COMPROMISO
            p
                |Con la población que se encuentra en situaciones de mayor vulnerabilidad con los procesos de integración intercultural de las personas inmigradas, con la convivencia y con la inclusión social
        .col-sm-3
            h4 gestión de la diversidad
            p
                | apostando por medidas positivas que permitan la incorporación de trabajadores y trabajadoras inmigrantes de diverso origen en nuestras plantillas.
    br
    .row
        .col-sm-4
            h4 IGUALDAD DE TRATO Y NO DISCRIMINACIÓN
            p
                | Fomentando medidas que prevengan, eviten y desvelen prácticas individuales o colectivas que tengan por efecto el menoscabo de los derechos de cualquier persona, ya sea de forma directa o indirecta, por razón de sexo, origen, etnia, discapacidad, orientación sexual o edad.
        .col-sm-4
            h4 IGUALDAD DE OPORTUNIDADES ENTRE HOMBRES Y MUJERES
            p
                |Promoviendo la igualdad de derechos y de trato entre las personas de ambos sexos, incluyendo la perspectiva de género en el diseño y ejecución de todas las actuaciones dirigidas tanto a las personas usuarias como a la sociedad en general, así como en la estructura organizativa.
        .col-sm-4
            h4 SOLIDARIDAD
            p
                | Compartiendo y asumiendo los intereses y necesidades de personas o grupos en situaciones de especial dificultad, particularmente las inmigradas, reconociendo su capacidad de autonomía y tratando de influir en los factores que en tales situaciones les impiden acceder al disfrute de unas condiciones de vida dignas.


