doctype html
html
    block head
        block script
            meta(name='viewport', content='width=device-width, initial-scale=1')
            link(href='css/style.css', rel='stylesheet', type='text/css')
            link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
            script(type="text/javascript", src="js/autoBreadcrumbs.js")
            link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css")
            script(src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js")
            script(src='js/cookie_consent.js')

            style.
                body {
                    background-color: #cccccc;
                    /*background: url("http://maxpixel.freegreatpicture.com/static/photo/1x/Painting-Technique-Watercolour-Gradient-1325656.jpg") no-repeat;*/
                    /*background: url("http://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438756vUG.jpg") no-repeat;*/
                    /*background: url("https://static.pexels.com/photos/346885/pexels-photo-346885.jpeg") center no-repeat;*/
                    /*background: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Gradient_1024x768.jpg") no-repeat;*/
                    /*background: url('https://upload.wikimedia.org/wikipedia/commons/f/f9/Sky_gradient_mid_afternoon_looking_north.jpg') ;
                    background-size: cover;*/

                }

body
        include navbar
        script.
            breadcrumbs();
        .container(style="background-color:transparent;")
            block content

        block footer
            include footer