extends layout
append head
    title Login page
block content
    div.row

        .modal-header(style='padding:35px 50px;')
            h4.text-center
                span.glyphicon.glyphicon-lock
                |  Login
        .modal-body(style='padding:40px 50px;')
            h1#message.text-center.text-success !{message}
            h1#error.text-center.error-message.text-danger !{error}
            form(role='form', class='form-signin', action='/login', method='POST')
                .form-group
                    label(for='username')
                        span.glyphicon.glyphicon-user
                        |  Email
                        span.text-danger *
                    input#username.form-control(type='email', name="username", placeholder='Entrar email', required, autofocus)
                .form-group
                    label(for='psw')
                        span.glyphicon.glyphicon-eye-close
                        |  Password
                        span.text-danger *
                    input#psw.form-control(type='password', name="password", placeholder='Entrar contraseña')
                .checkbox
                    label
                        input(type='checkbox' name='remember')
                        | Recordarme
                button.btn.btn-success.btn-block(type='submit')
                    span.glyphicon.glyphicon-off
                    |  Login
        .modal-footer
            a.btn.btn-danger.btn-default.pull-left(href='/')
                span.glyphicon.glyphicon-remove
                |  Cancel
            p
                | Aun no eres miembro?
                a(href='/signup')  Registrarte
            p
                | Has olvidado tu
                a(href='/reset_password')  Contraseña?


