extends layout
append head
    title #{title}
block content
    include navbar_empleador
    h4#message.text-center.text-info
        script.
            try {
                var mes = !{JSON.stringify(message)};
                if (Object.keys(mes).length != 0) {
                    $("#message").text(mes).css("background-color", "#84c3df").fadeOut(5000);
                }
            } catch (err) {
                $("#message").hide();
            }

    //si aun el empleador no publicado ninguna oferta y accede aqui, le notificamos su situacion
    if !ofertas || !ofertas.length
        .col-6.text-center
            span
                | AÚN NO HA PUBLICADO NINGÚNA OFERTA <br>
                | Recuerda que sus ofertas <b>dan vida!!</b><br><br>
                a.btn.btn-success.btn-lg(href='/empleo') Publica empleo aquí!!
    else
        each val in ofertas
            h4.text-center  #{val.Puesto}
            //si no hay ningún inscrito en la oferta avisamos
            if !val.Inscritos.length
                h5.text-center.text-warning Esta oferta aun no tiene candidatos.
                hr
            else
                each usuario in val.Inscritos
                    //apto para trabajar
                    if usuario.Favorable && usuario.Favorable == 1
                        .row(style="padding-bottom: 15px;" id='#{usuario._id}_todo')
                            .col-md-4.text-center.text-left
                                span #{usuario.Nombre_usuario} #{usuario.Apellidos_usuario}
                            .col-md-4.text-right
                                a.btn.btn-primary.btn-lg(href='/download?path=public/documentos/' + usuario._id + '/' + val._id + '/curriculum')
                                    span.glyphicon.glyphicon-download-alt
                                    |  Descargar curriculum
                            //mandar mail para entrevistar si es asi que se desea
                            .col-md-4.text-right(style='display: none' id='#{usuario._id}_entrevista')
                                a.btn.btn-success.align-middle.btn-lg.text-right(data-toggle='collapse', href='#' + usuario._id) Entrevistarle
                                .collapse.text-left(id='#{usuario._id}')
                                    form(action='', method="post")
                                        hr
                                        input(type="hidden", name="userName", value="" + usuario.Nombre_usuario + "")
                                        input(type="hidden", name="userId", value="" + usuario._id + "")
                                        input(type="hidden", name="userMail", value="" + usuario.Email_usuario + "")
                                        input(type="hidden", name="oferta", value="" + val.Puesto + "")
                                        input(type="hidden", name="idOferta", value="" + val._id + "")
                                        .form-group
                                            label(for='subject')
                                                | Asunto
                                                span.text-danger *
                                                br
                                            input#subject.form-control(type="text", name="subject", value="", placeholder="Asunto del email", required)
                                        .form-group
                                            label(for='fecha')
                                                | Fecha y hora entrevista
                                                span.text-danger *
                                                br
                                            input#fecha.form-control(type="datetime-local", name="fecha", value="", placeholder="Ej: 25-05-2017 10:00", pattern="^(0?[1-9]|[12][0-9]|3[01])-(0?[1-9]|1[0-2])-\\d{4} (00|0?[1-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$", required)
                                        .form-group
                                            label(for='content') Contenido email:
                                                | Contenido Email
                                                span.text-danger *
                                                br
                                            textarea#content.form-control(placeholder='Contenido email', rows="3", name='contenido', autofocus, required)

                                        button.btn.btn-success.btn-block(type='submit')
                                            span.glyphicon.glyphicon-send
                                            |  Enviar

                            //pendiente de entrevistar
                            .col-md-4.text-right(id='#{usuario._id}_pendiente' style='display:none')

                                p.text-justify(id='#{usuario._id}_fecha') Pendienta para entrevistar el día
                                script.
                                    try {
                                        var datetime = new Date(!{JSON.stringify(usuario.Entrevista.Fecha_Entrevista)}),
                                            strDate = datetime.getDate() + '-' +
                                                (datetime.getMonth() + 1) + '-' +
                                                datetime.getFullYear() + ' a las ' +
                                                datetime.getHours() + ':' + datetime.getMinutes();

                                        document.getElementById('#{usuario._id}_fecha').innerHTML += ' ' + strDate;
                                    } catch (err) {

                                    }


                            //mandar mail para entrevistar si es asi que se desea
                            .col-md-4.text-right(style='display: none' id='#{usuario._id}_contratar')
                                form(action='/contratar', method="post")
                                    input(type="hidden", name="userName", value="" + usuario.Nombre_usuario + "")
                                    input(type="hidden", name="userId", value="" + usuario._id + "")
                                    input(type="hidden", name="userMail", value="" + usuario.Email_usuario + "")
                                    input(type="hidden", name="oferta", value="" + val.Puesto + "")
                                    input(type="hidden", name="idOferta", value="" + val._id + "")
                                    input(type="hidden", name="idusuario", value ="" + usuario._id + "")
                                    .col-md-7
                                        .label.radio-inline(style="color:black;")
                                            input(type='radio', name='contratar', value="1")
                                            | Contratar
                                        .label.radio-inline(style="color:black;")
                                            input(type='radio', name='contratar', value="0")
                                            | Descartar
                                    .col-md-5
                                        button.btn.btn-default(type='submit') Validar

                            script.
                                var entrevista = !{JSON.stringify(usuario.Entrevista)};
                                var x = Object.keys(entrevista).length;
                                if (!x) {
                                    $('##{usuario._id}_entrevista').show();
                                } else {
                                    if (!entrevista.Descartado) {
                                        if (new Date(entrevista.Fecha_Entrevista) < new Date()) {
                                            $('##{usuario._id}_contratar').show();
                                        } else {
                                            $('##{usuario._id}_pendiente').show();
                                        }
                                    } else {
                                        $('##{usuario._id}_todo').hide();
                                    }

                                }

