link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
script(src='//code.jquery.com/jquery-1.10.2.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
link(href='/css/style.css', rel='stylesheet')

nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a(href='/')
                img.img-circle(src='../img/logo.jpg' alt='Site Logo' title='Site Logo' width='90' height='60')
                strong#title E-Migration
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                if user
                    li.dropdown.bg-primary
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' alt="Primeros pasos")
                            | Perfil
                            span.caret
                        ul.dropdown-menu
                            li
                                a.btn(href='profile' alt='Mi Perfil') Mi Perfil
                            li.divider(role='separator')
                            li
                                a.btn.btn-danger(href='logout' alt="Log out") Log Out
                else
                    li
                        a.btn.btn-success(href='/login' alt="Login") Log In
                    li
                        a.btn.btn-warning(href='/signup' alt="Register") Registrar
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' alt="Primeros pasos")
                        | Primeros pasos
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='empadronarse' alt="Empadronamiento") Empadronamiento
                        li
                            a(href='tarjeta_sanitaria' alt="Tarjeta sanitaria") Tarjeta sanitaria
                        li.divider(role='separator')
                        li
                            a(href='estudiar' alt="Estudiar idiomas") Estudiar idiomas

                li
                    a(href='/regularizacion' alt="Regularizacion") Regularización
                if !user || user.Tipo == 'abogado'
                    li
                        a(href='/abogacia' alt="Abogacia") Abogacia
                li
                    a(href='/chat' alt="Relacionarse") Chat
                li
                    a(href='/empleo' alt="Empleo") Empleo
                li
                    a(href='/consultas' alt="FAQ (Consultas)") FAQ (Consultas)
                li
                    a(href='fuentes' alt="Fuentes") Fuentes


        // /.navbar-collapse
    // /.container-fluid
