h3.text-center Enlaces para empleadores
.text-center
    a.btn.btn-primary(href='/mis_ofertas' alt='mis ofertas') Mis ofertas activas
    a.btn.btn-primary(href='/empleo' alt='Entrevistar') Todas las ofertas
hr