extends layout
append head
    title Denagación de solicitud inscripción en  ofertas
block content
    h1.text-danger Solicitud denagada
    h2.text-danger #{message}

    div
        p.text-justify
            | Tu solicitud de inscripción en ofertas esta denegada porque no cumples la condiciones establisadas.<br>
            |Para más información <a href="consultas" alt="consultar con abogados">Ponte en contacto con nuestros abogados</a>