extends layout
append head
    script.
    title #{title}
block content
    include abogacia_navbar
    h2.text-center Usuarios a procesar
    h3.text-danger.text-center #{error}
    h3.text-danger.text-center #{message}

    if ok
        div.alert.alert-success.text-center
            script.
                var mes = !{JSON.stringify(ok)};
                if (mes.length) {
                    $(".alert").text(mes).css("background-color", "#84c3df").fadeOut(5000);
                } else {
                    $(".alert").hide();
                }
    //si aun no hay ofertas activas, avisamos
    if !ofertas || !ofertas.length
        p.text-success No hay ninguna oferta en proceso actualmente
    else
        -var x = 0;
        each val in ofertas

            each usuario in val.Inscritos
                //cambiar aqui que solo ponga los usuarios no validados
                if !usuario.Favorable
                    -x++;
                    h3.text-center  #{val.Puesto}
                    .row
                        .col-md-3
                            span #{usuario.Nombre_usuario} #{user.Apellidos_usuario}
                        .col-md-3
                            a.btn.btn-primary(href='/download?path=public/documentos/' + usuario._id + '/' + val._id + '/padro')
                                span.glyphicon.glyphicon-download-alt
                                |  Descargar padro
                        .col-md-3
                            a.btn.btn-primary(href='/download?path=public/documentos/' + usuario._id + '/' + val._id + '/certificado')
                                span.glyphicon.glyphicon-download-alt
                                |  Descargar certificado

                        .col-md-3
                            .row
                                form(action="", method="post")
                                    input(type="hidden", name="idusuario", value ="" + usuario._id + "")
                                    .col-md-7
                                        .label.radio-inline(style="color:black;")
                                            input(type='radio', name='validar', value="1")
                                            | Apt@
                                        .label.radio-inline(style="color:black;")
                                            input(type='radio', name='validar', value="0")
                                            | No apt@
                                    .col-md-5
                                        button.btn.btn-default(type='submit') Validar

        if !x
            p.text-center.text-success No hay ninguna oferta en proceso actualmente