extends layout
append head
    title Publicar ofertas
block content
    h2 Rellenar el formulario
        form.form-horizontal(action='/empleo', method="post")
            .form-group
                label.control-label.col-sm-2(for='descripcion') Descripción:
                .col-sm-10
                    textarea#descripcion.form-control(type='text', placeholder='Describe la oferta', rows="5",  name='descripcion', required)
            .form-group
                label.control-label.col-sm-2(for='duracion') Duración:
                .col-sm-10
                    input#duracion.form-control(type='month', placeholder='Especifica la duración en meses', name='duracion', required)
            .form-group
                label.control-label.col-sm-2(for='sueldo') Saldo:
                .col-sm-10
                    input#sueldo.form-control(type='number', min='0', placeholder='Especifica el saldo si lo desea', name='sueldo')
            .form-group
            label.control-label.col-sm-2(for='lugar') Lugar:
            .col-sm-10
                input#lugar.form-control(type='text', placeholder='Donde se hará el trabajo', name='lugar', required)
            .form-group
            label.control-label.col-sm-2(for='plazas') Plazas:
            .col-sm-10
                input#plazas.form-control(type='number', min='0', placeholder='plazas disponibles', name='plazas', required=)

            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Submit