extends layout
append head
    title Mi Perfil
block content
    h1.text-center Mi Perfil
    hr
    h2.text-center.text-success #{success}
    ul.text-justify
        li
            strong Nombre:
            |  #{user.Nombre}
        li
            strong Apellidos:
            |  #{user.Apellidos}
        li
            strong Email:
            |  #{user.Email}
        li
            strong Contraseña:
            a.change_password_toggle(href='#')  Cambiar contraseña
            script.
                $(document).on('click', '.change_password_toggle', function () {
                    $("#change_password").fadeToggle();
                });
            #change_password.panel.panel-default(style="display: none")
                .panel-body
                    form(action='/change_password' method='POST')
                        input(type="hidden" name="id_user" value="#{user._id}")
                        .form-group
                            label(for='current_password') Contraseña actual
                                span.text-danger *
                            input.form-control#current_password(type='password' name='current_password' alt='Contraseña actual' placeholder='Contraseña actual' required)
                        .form-group
                            label(for='new_password') Contraseña nueva (minimo 6 caracteres)
                                span.text-danger *
                            input.form-control#new_password(type='password' name='new_password' alt='Contraseña nueva (minimo 6 caracteres)' pattern='.{6,}' placeholder='Contraseña nueva (minimo 6 caracteres)' required)
                        .form-group
                            label(for='current_password') Repetir contraseña nueva
                                span.text-danger *
                            input.form-control#repeat_password(type='password' name='repeat_password' alt='Repetir contraseña nueva'  placeholder='Repetir contraseña nueva' required)
                        script.
                            $("#new_password, #repeat_password").keyup(function () {
                                if ($("#new_password").val() != $("#repeat_password").val()) {
                                    $("#change_password #submit").prop("disabled", true);
                                    $("#new_password").css('background-color', 'rgb(168, 68, 66)');
                                    $("#repeat_password").css('background-color', 'rgb(168, 68, 66)');
                                    $("#error").text("la contraseña nueva no se ha repetido bien");
                                } else {
                                    $("#new_password").css('background-color', 'rgba(60, 118, 61, 0.3)');
                                    $("#repeat_password").css('background-color', 'rgba(60, 118, 61, 0.3)');
                                    $("#error").text("");
                                    $("#change_password #submit").prop("disabled", false);
                                }
                            });
                        button#submit.btn.btn-warning(type='submit') Cambiar
                        button.btn.btn-danger.change_password_toggle Cancelar

                        #error.text-danger
                        if error
                            script.
                                $("#error").text("#{error}");
                                $("#change_password").show();
        li
            case user.Tipo
                when 'empleador'
                    strong NIF de Empresa:
                    |  #{user.Nif_empresa}
                when 'abogado'
                    strong Numero colegiado:
                    |  #{user.Numero_colegiado}
                default
                    strong DNI / NIE:
                    span
                        if user.Dni_nie
                            |  #{user.Dni_nie}
                        else
                            |  No especificado
    hr
    .text-center
        a.btn.btn-warning.change_info_toggle(href='#') Cambiar Información
        a.btn.btn-danger(href='#' data-toggle="modal" data-target="#myModal") Eliminar mi cuenta
        // Modal
        #myModal.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title.text-danger Confirmar Acción
                    .modal-body
                        p.text-danger Seguro que quieres eliminar la cuenta?
                        form(action="/delete" method="POST")
                            input(type="hidden" name="id_user" value="#{user._id}")
                            button.btn.btn-danger(type="submit") Si
                    .modal-footer
                        button.btn.btn-success(type='button', data-dismiss='modal') Cancelar
    script.
        $(document).on('click', '.change_info_toggle', function () {
            $("#change_info").fadeToggle();
        });
    #change_info.panel.panel-default(style="display: none")
        .panel-body
            form(action='/change_info' method='POST')
                input(type="hidden" name="id_user" value="#{user._id}")
                .form-group
                    label(for='first_name') Nombre
                    input.form-control#first_name(type='text' name='first_name' alt='Nombre' placeholder='Nombre' required value='#{user.Nombre}')
                .form-group
                    label(for='last_name') Apellidos
                    input.form-control#last_name(type='text' name='last_name' alt='Apellidos' placeholder='Apellidos' required value="#{user.Apellidos}")
                button.btn.btn-warning(type='submit') Cambiar
                a.btn.btn-danger.change_info_toggle Cancelar