extends layout
append head
    title Registrarse
block content
    div.row
        h1.text-center.login-title Registrarse como usuario simple o como empleador
        div.col-sm-6.col-md-4.col-md-offset-4
            div.signup-wall
                form(class='form-signin', action='/signup', method='POST')
                    div.opciones
                        label.btn.btn-primary.btn-lg
                            input(type='radio', name='tipos', id="emp", class="tipos",  value='empleador' alt='empleador')
                            | Empleador
                        label.btn.btn-success.btn-lg
                            input(type='radio', name='tipos', class="tipos", id="par", value='particular' alt='particular')
                            | Particular
                    script.
                        $(".tipos").click(function () {
                            $("#info").fadeIn();
                            if ($(this).val() == 'particular') {
                                $("#dni_nie_div").fadeIn();
                                $("#nif_div").fadeOut();
                                $("#nif").removeAttr('required');
                            } else {
                                $("#dni_nie_div").fadeOut();
                                $("#nif_div").fadeIn();
                                $("#nif").attr('required', '');
                            }
                        });
                    div#info(style="display:none")
                        label(for="nombre") Nombre
                            span.text-danger *
                        input.form-control(type='text', name='nombre', id="nombre", placeholder='Tu nombre', required, autofocus alt='nombre')
                        label(for="apellidos") Apellidos
                            span.text-danger *
                        input.form-control(type='text', name='apellidos', id="apellidos", placeholder='Tus apellidos', required alt='apellidos')
                        label(for="email") Email
                            span.text-danger *
                        input.form-control(type='email', name='username', id="email", placeholder='Email', required alt='Email')
                        label(for="password") Contraseña (minimo 6 caracteres)
                            span.text-danger *
                        input.form-control(type='password', name='password', id="password", placeholder='contraseña', pattern='.{6,}' required alt='Contraseña (minimo 6 caracteres)')
                        label(for="repeat_password") Repetir contraseña
                            span.text-danger *
                        input.form-control(type='password', id="repeat_password", placeholder='Repetir contraseña' required alt='Repetir contraseña')
                        script.
                            $("#password, #repeat_password").keyup(function () {
                                if ($("#password").val() != $("#repeat_password").val()) {
                                    $("#info button").prop("disabled", true);
                                    $("#password").css('background-color', 'rgb(168, 68, 66)');
                                    $("#repeat_password").css('background-color', 'rgb(168, 68, 66)');
                                    $("#error").text("la contraseña no se ha repetido bien");
                                } else {
                                    $("#password").css('background-color', 'rgba(60, 118, 61, 0.3)');
                                    $("#repeat_password").css('background-color', 'rgba(60, 118, 61, 0.3)');
                                    $("#error").text("");
                                    $("#info button").prop("disabled", false);
                                }
                            });
                        div#dni_nie_div
                            label(for="dni_nie") DNI / NIE
                            input.form-control(type='text', name='dni_nie', id="dni_nie", placeholder='Opcional. Ej 12345684A/X1234567W' pattern='^[\\w\\d]\\d{7}\\w$' alt='DNI o NIE. Opcional. Ejemplo: 12345684A, X1234567W')
                        div#nif_div
                            label(for="nif") NIF
                                span.text-danger *
                            input.form-control(type='text', name='nif', id="nif", placeholder='nif empresa. Ejemplo: B12345677', required pattern="^\\w\\d{8}" alt='nif empresa')
                        if message
                            h1#error.text-center.error-message.text-danger #{message}
                        hr
                        .checkbox
                            label
                                input(type="checkbox" required)
                                | He leido y acepto
                                a(href="/privacy_policy" target="_blank")  la politica de privacidad
                                |  y
                                a(href="/terms_conditions" target="_blank")  los terminos y las condiciones
                                |  de este sitio web
                                span.text-danger *
                        button(class='btn btn-lg btn-primary btn-block', type='submit') Register
                    span.clearfix
