extends layout
append head
    title Regularizaciones
block content
    .row
        .col-md-8.col-md-offset-2(style="border: 0.5px solid green;")
            |Si quires que nuestros abogados te tramiten tu solicitud de regularizacion, ponte en contacto con ellos <a href="/consultas" alt="consultar abogados"><u>aquí</u></a>
        .col-md-8.col-md-offset-2.text-justify(style="border-left: 0.5px solid lightblue;")
            p.text-center.text-info(style="font-size: 25px;") -***-
            p.text-justify
                |El arraigo es la posibilidad que se ofrece a las personas extranjeras, que llevan años en el Estado español en situación de irregularidad administrativa, de regularizar su situación y de acceder a un permiso de trabajo y residencia.<br>
            h4 Los <b>diferentes tipos</b> de arraigo que existen son:
            ul
                li: |<b>Arraigo laboral</b>. <br>Es aquel que permite la obtención del permiso de residencia si se demuestra la existencia de una relación laboral.
                    br
                    br
                    .row
                        p.text-justify(style="border: 0.5px solid blue;")
                            | <b>Recuerda</b> que si estás trabajando sin contrato, a pesar de que no tengas permiso de trabajo ni de residencia, la Ley te ampara. Mediante una denuncia a la empresa podrás solicitar el arraigo laboral. Necesitaras la resolución judicial que reconozca la relación laboral o la resolución administrativa confirmatoria del acta de infracción de la Inspección de Trabajo y la Seguridad Social para poder iniciar la solicitud de arraigo laboral.
                    br
                    |Si, por ejemplo, estás trabajando de manera irregular (también desarrollando tareas domésticas por cuenta de otro) debes saber que puedes denunciar a la persona para la cual trabajas o a la empresa y de este modo regularizar tu situación administrativa en el Estado español
                br
                li: | <b>Arraigo social.</b><br> Mediante el arraigo social se puede obtener la residencia legal si se acredita una residencia continuada en el Estado español durante un periodo mínimo de tres años (certificado de empadronamiento), no tener antecedentes penales, disponer de un contrato de trabajo de duración mínima de un año y aportar un informe emitido por la Generalitat de Cataluña que acredite tu inserción social.
            p.text-justify
                | Para obtener el informe de arraigo social deberías hacer una solicitud al Departamento de Bienestar Social y Familia de la Generalidad de Cataluña adjuntando la siguiente documentación: volante de empadronamiento, contrato de trabajo de un año de duración firmado por la persona o empresa que te contrata y la persona que lo solicita, vínculos familiares en el Estado español, participación en programas de inserción sociolaboral o culturales, acreditar cursos realizados y grado de conocimiento lingüístico logrado (castellano y catalán) y la participación en otros ámbitos de la comunidad: salud, formación, entidades de todo tipo (ocio, deportivas, religiosas, bibliotecas y otros espacios culturales).<br>

                | Una vez revisada la solicitud y la documentación aportada, el Departamento de Bienestar Social y Familia, emitirá un informe positivo o negativo sobre tu integración social en el municipio donde vives.
            .row
                p.text-justify(style="border: 0.5px solid blue;")
                    | <b>Recuerda</b> que si reúnes los requisitos de arraigo, pero tienes antecedentes penales, te denegarán la solicitud. Es conveniente pedir la cancelación de estos antecedentes policiales de forma previa.
            p.text-justify
                |Para <b>conseguir la cancelación</b> tienes que hacer una solicitud a la Dirección general de los Mossos d’Esquadra (Travessera de les Corts, 319, de Barcelona) adjuntando una copia testimoniada de la interlocutoria dictada en el procedimiento judicial y/o certificado judicial que acredite l´extinción de la responsabilidad penal y/o civil derivada de la condena.
                br
                |También lo puedes hacer a traves de nuestros abogados <b>de manera gratuita</b> <a href="/consultas" alt="consultar abogados"><u>aquí</u></a>
            p.text-justify
                | Es importante saber que el primer permiso de residencia y de trabajo tiene una duración de un año. Pasado este año, tienes que solicitar la renovación.
                | En caso de residencia legal y continuada en el Estado español puedes obtener la nacionalidad española. La documentación se presenta al Registro Civil del lugar de residencia.
                | Para obtener la nacionalidad española tienes que demostrar tu residencia en el Estado español durante 10 años. Para las personas procedentes de países iberoamericanos, Andorra, Filipinas, Guinea Ecuatorial y sefarditas son suficientes 2 años, y un año para niños y niñas que han nacido en territorio español y para las mujeres casadas con españoles o españolas.
                | Habrá que justificar buena conducta cívica y no tener antecedentes penales.
                br
                br
                | Si como mujer eres o has sido víctima de violencia de género tienes que saber que dispones de dos tipos de autorizaciones:
                ol
                    li: |<b>Mujeres extranjeras reagrupadas</b>: autorización de residencia y trabajo independiente de su cónyuge o pareja. La mujer reagrupada por su cónyuge puede obtener una autorización de residencia independiente cuando disponga de medios de vida independientes para atender sus propias necesidades (normalmente contrato de trabajo) o también en el caso de ser víctima de violencia de género, aunque no disponga de medios propios.
                    li: | <b>Mujeres extranjeras en situación irregular administrativa</b>: autorización de residencia y trabajo por circunstancias excepcionales. La obtención de la autorización se producirá una vez dictada una orden de protección a favor de la mujer o, si existe, un informe del Ministerio Fiscal que indique la existencia de indicios de violencia de género.
                        br
                        br
                        |La tramitación de las solicitudes de autorización tendrá carácter preferente
                        br
                        br
                        .row
                            p.text-justify(style="border: 0.5px solid blue;")
                                | Presentada la solicitud de autorización de residencia temporal y trabajo de la mujer víctima de <b>violencia de género</b>, se concederá, de oficio, una autorización de residencia y trabajo a favor de la mujer extranjera y, en su caso, autorización de residencia o de residencia y trabajo a favor de sus hijos e hijas menores de edad, siempre que haya una orden de protección a favor de la mujer o un informe del Ministerio Fiscal que indique la existencia de indicios de violencia de género.
                                | Es necesario saber que si, como mujer, denuncias la situación de violencia de género, y estás en situación irregular administrativa <b>NO se iniciará el procedimiento administrativo sancionador</b>.
            p.text-justify
                | Así mismo, la condición de <b>refugiada</b> se concederá a las mujeres <b>víctimas de violencia de género</b> que se encuentren fuera del país de origen y que no puedan por riesgo de su vida (actas de persecución grave) o no quieran acogerse a la protección de tal país; <b>o la condición de mujer apátrida</b> que, sin tener nacionalidad y encontrándose fuera del país donde anteriormente tuvo su residencia habitual, por los mismos motivos no pueda o, debido a los temores mencionados anteriormente, no quiera volver a este país.
                | Se trata de proteger a la mujer que sufre actos de persecución grave en su país: actos de: actas de violencia física o psíquica. Incluidos los actos de violencia sexual.
                | Quedan incluidas todas las mujeres que en función de las circunstancias imperantes en su país de origen, huyan debido a fundados temores de sufrir persecución por motivo de género.

            p.text-justify
                | <b>¿CÓMO PUEDO HACER QUE MIS FAMILIARES VENGAN A VIVIR AL ESTADO ESPAÑOL?</b>
                br
                | Se puede reagrupar al cónyuge siempre que no exista separación de hecho o de derecho y el matrimonio no sea falso.
                | También se puede reagrupar a la pareja estable, siempre que la relación esté debidamente acreditada.
                | También se puede reagrupar a los hijos e hijas, siempre que sean menores de 18 años.
                | Se puede reagrupar a los padres que tengan más de 65 años y se justifique que están a su cargo. Es importante durante el año anterior a la solicitud de reagrupación demostrar el envío de dinero que permita inferir una dependencia económica efectiva y real.
                br
                br
                | <b>Recuerda</b> que si tú eres la persona residente que solicita la reagrupación, tienes que tener la autorización de residencia renovada o de larga duración, disponer de medios de vida suficientes para mantener a los miembros de tu familia y acreditar que dispones de una vivienda adecuada (acta que se realiza en el Ayuntamiento del lugar de residencia).
                | Necesitas saber que hay un baremo de valoración que establece cuáles son los ingresos económicos que se tienen que acreditar en función del número de miembros de la familia que se quiera reagrupar. Normalmente es necesario adjuntar las doce últimas nóminas.
                .row
                    p.text-justify(style="border: 0.5px solid blue;")
                        | <b>Si eres una mujer reagrupada por tu cónyuge, y eres víctima de violencia de género por parte de este</b>, aunque no tengas ingresos económicos, puedes obtener una documentación independiente de la del cónyuge, desde el momento que se dicte una orden de protección o, si existe, un informe del Ministerio Fiscal que indique la existencia de indicios de violencia de género.

