extends layout
append head
    title Rehabilitar Usuarios
block content
    h4.text-center.text-success #{message}
    h4.text-center.text-danger #{error}
    include abogacia_navbar
    h1.text-center Rehabilitar Usuarios
    table.table
        if usuarios
            each usuario in usuarios
                tr
                    th #{usuario.Nombre} #{usuario.Apellidos}
                    td
                        form(action='/rehabilitar_usuarios' method='POST')
                            input(type='hidden' value='#{usuario._id}' name='usuario_id')
                            button.btn.btn-primary(type="submit" alt='Rehabilitar usuario') Rehabilitar
        else
            h3.text-center.text-success No hay usuarios para rehabilitar