extends layout
append head
    title He olvidado mi contraseña
block content
    h1.text-center He olvidado mi contraseña
    hr
    h3.text-center.text-success #{message}
    h3#error.text-center.text-danger #{error}
    .row
        .col-xs-3
        .col-xs-6
            if user_id
                form#reset_password_form(action='/reset_password/#{user_id}' method='POST')
                    label(for="password") Contraseña nueva (minimo 6 caracteres)
                        span.text-danger *
                    input.form-control(type='password', name='password', id="password", placeholder='contraseña', pattern='.{6,}' required alt='Contraseña (minimo 6 caracteres)')
                    label(for="repeat_password") Repetir contraseña
                        span.text-danger *
                    input.form-control(type='password', id="repeat_password", placeholder='Repetir contraseña' required alt='Repetir contraseña')
                    script.
                        $("#password, #repeat_password").keyup(function () {
                            if ($("#password").val() != $("#repeat_password").val()) {
                                $("#reset_password_form button").prop("disabled", true);
                                $("#password").css('background-color', 'rgb(168, 68, 66)');
                                $("#repeat_password").css('background-color', 'rgb(168, 68, 66)');
                                $("#error").text("la contraseña no se ha repetido bien");
                            } else {
                                $("#password").css('background-color', 'rgba(60, 118, 61, 0.3)');
                                $("#repeat_password").css('background-color', 'rgba(60, 118, 61, 0.3)');
                                $("#error").text("");
                                $("#reset_password_form button").prop("disabled", false);
                            }
                        });
                    .text-right
                        button.btn.btn-success(type='submit')
                            span.glyphicon.glyphicon-ok
                            |  Submit
            else
                form(action='/reset_password_check_email' method='POST')
                    .form-group
                        label(for='email')
                            |  Introduce el email de tu usuario donde recibirás instrucciones para cambiar la contraseña
                            span.text-danger *
                        input#email.form-control(type='email', name="email", placeholder='Entrar email', required, autofocus)
                        .text-right
                            button.btn.btn-success(type='submit')
                                span.glyphicon.glyphicon-envelope
                                |  Enviar
        .col-xs-3