extends layout
append head
    title Responder Consultas
block content
    h4.text-center.text-success #{message}
    h4.text-center.text-danger #{error}
    include abogacia_navbar
    h1.text-center Responder Consultas
    ul
        if consultas && consultas.length
            each consulta in consultas
                li
                    a(data-toggle="collapse" href='##{consulta._id}')
                        h4 #{consulta.Asunto}
                    .panel.panel-default.collapse(id='#{consulta._id}')
                        .panel-body
                            table.table.table-bordered
                                tr
                                    th Consulta completa
                                    td.info #{consulta.Consulta}
                                tr
                                    th Respuesta
                                    td.success
                                        if !consulta.Es_privado
                                            strong.text-warning
                                                | NOTA: Esta consulta es publica, por lo tanto te recomendamos no publicar ninguna información privada en la respuesta.
                                        form(action='/responder_consultas' method='POST')
                                            input(type='hidden' value='#{consulta._id}' name='consulta_id')
                                            textarea.form-control(name='respuesta' alt='respuesta' placeholder='Tu respuesta aqui' required)
                                            button.btn.btn-success(type='submit' alt='Responder a la consulta')
                                                span.glyphicon.glyphicon-ok
                                                    |  Responder
                                            a.btn.btn-danger(data-toggle="collapse" href='##{consulta._id}' alt='Cancelar la respuesta para la consulta')
                                                span.glyphicon.glyphicon-remove
                                                    |  Cancelar
        else
            h3.text-center.text-success No hay consultas pendientes para responder