extends layout
append head
    title Tarjeta Sanitaria
block content
    h1.text-center Tarjeta Sanitaria
    hr
    div.text-justify
        p La Tarjeta Sanitaria Europea (TSE) es el documento personal e intransferible que acredita el derecho a recibir las prestaciones sanitarias que resulten necesarias, desde un punto de vista médico, durante una estancia temporal en el territorio del Espacio Económico Europeo (1) o Suiza, teniendo en cuenta la naturaleza de las prestaciones y la duración de la estancia prevista, de acuerdo con la legislación del país de estancia, independientemente de que el objeto de la estancia sea el turismo, una actividad profesional o los estudios.
        p
            strong La Tarjeta Sanitaria Europea (TSE) no es válida cuando el desplazamiento tenga la finalidad de recibir tratamiento médico, en cuyo caso es necesario que el Instituto Nacional de la Seguridad Social (INSS), o el Instituto Social de la Marina (ISM), emita el formulario correspondiente, previo informe favorable del Servicio de Salud. Tampoco es el documento válido si usted traslada su residencia al territorio de otro Estado miembro.
        p En algunos casos, deberá asumir una cantidad fija o un porcentaje de los gastos derivados de la asistencia sanitaria, en igualdad de condiciones con los asegurados del Estado al que se desplaza. Estos importes no son reintegrables.
        p Para ampliar información podrá consultar
            a(href="http://ec.europa.eu/social", alt="Mas informacion sobre Tarjeta Sanitaria" target="_blank")  la dirección de Internet

    hr
    h2 Pueden solicitar la TSE
    p.text-justify Los titulares del derecho y beneficiarios a su cargo que cumplan los requisitos exigidos por la legislación española y por los Reglamentos Comunitarios de Seguridad Social.

    hr
    h2 Solicitud y Renovación
    div.text-justify
        p Por Internet, a través de
            a(href="https://sede.seg-social.gob.es" alt ="pagina web sede electronica de la seguridad social")
                strong  la Sede Electrónica de la Seguridad Social,
            | no siendo necesario disponer de certificado digital para acceder a este servicio.
        ul
            li
                a(href="https://sede.seg-social.gob.es/wps/portal/sede/sede/Ciudadanos/CiudadanoDetalle/!ut/p/z1/rVVNV9swEPwr6SFHoZVkS3Jv5qOBkDQNEEJ84cm2nKiNnWAbAv31lQN9fS3YbmviQ55W2llpRjvCAb7BQaYezFKVZpOptR0vAn7LCHeIB2Q0gLMT8Gfj85nHpmxwRvB8vwBqfj7goDn_Ggc4iLJyW67wotCxvo02WakzE2-KPlSBPkTmPlaxyqqIKkxhpyOjeoXKTKlyo_pA7efwCmobmRgvZMgk4cxFiSIhcrTyUEilRCpKIhl5hGvuvGy9Zm_gtW59XtVrQdgvaGKnsQjlbSVIC4Lv4iEOlutN-Cymn1lmljjIdaJznR_c5za8Ksvtxz70YbfbHRR6iYqN5Xd9oC3fZ1aMPNPlLenD2JKfJZs8VZG9HX24rKRI1YWO-2CyWD8erMr0rSqrTVHim1foeGEVEL_2DjCwpMwO4fIaKIEBw_MHo3d4llU11_jyl8COEMQhVCLBtEAOczwkuSCIMmCxYsyNBcGn8GeFAZm6VYWJPLuYEpCiY4VneHcigQyBjoCPJfje9HI2-kwYCKcj_LDtdliuzde7u8C3PVS1zaOl-b-bCPhb8aoGzcdHY6vnVpUrVF0BfPP20hqIVyocOuCTyRWnpycEJg00_VUjN6owANIRfthmBO-qwouVNVMm3fozKSKJ9MBFoDVHjnQZ8qQAREUIkQImRSJfwR-PjuyZrs-Zx6cUzklH-EbK4Jj-C2UmM9ZuLHU6L01iImXnerFZWsLWlUP9Fldxasoqu6ez3tr-lbmyEW0zdG9tidbL-9xYCXrPLtQxvaY5OmJ2S_9T2nNrqP7s08RzZoJCYzcwLqKIhogqabuBJTFSiUpQSIhWoIh2QLTBs3eBr3VU0RF-2PZa_sPF1Ok214WqOjkxa7N_FHu6Z7Iiys22GtV5Z93yFp_k9YcPhasTjzpIRF6CHME5sk0qUaxEGEeuRyknbT5JO8I3cztl78vt3imZfSS36SyV7Al9uzhJxqUbusv09vjwM1oMH76P9PxLehTK3VWSzvcROxGET4_7yM8JWf4cPu38Dz8AsSvN2Q!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/" alt="Pagina con informacion sobre tarjeta sanitaria") Tarjeta Sanitaria Europea (TSE)
        p Centros de Atención e Información de la Seguridad Social (CAISS), solicitando
            a(href="https://sede.seg-social.gob.es/wps/portal/sede/sede/Ciudadanos/cita%20previa%20para%20pensiones%20y%20otras%20prestaciones/13cita%20previa%20para%20pensiones%20y%20otras%20prestaciones/!ut/p/z1/zVVdc9o4FP0r7oMfFV192Jb3zfkoDYGyJCUEv2RkWwK12FBbCcn--pXJdna2WfCw7sPiGTy6ks6VzrnnGqf4AaeVfDZLac2mkms3XqThIyMhJzGQ0QCuryCZjW9mMZuyAQ3xfL8ADvwSwOnx_fc4xWle2a1d4UWjCvWYbyqrKlNsGh_agA-5eSpkIas2khsrvW2tno17ydr9qapxZ1WN9-ptbC2bdraxMt8HfSDsxC3tgba5KfAizkJNs4ijTINGPGIKSR4wFCqptc6oVnn8FwEHbghxJwHzNl8Hwn7BMY67knSkIB0ISYCHOF2uN9lbSSRVxsQSp7XSqlb12VPtwitrt7_54MNutztr1BI1m9zI9VkrwrWTtK6UfSQ-jGVjKr2pyz3fPtyZxqpS3qrCB1MV6uVsZct_y7LaNBY_vEPHC6dA9PfZAQaOlNk53N0DJTBgeP5s1A7PqjbnGt-dKPAn-DnDgEyDNsNEXN9OCYioZ4Y3-GAigAyBjiAcC0ji6d1s9JkwiHhP-GFXdTiuzdfv39PEObE134uj-f9hRXcyWo8vxq4KttKuUFs4-OFklNMTv1P8nENCJl9C-umKwOSIJMAjUDRXCDIIEee5RoIrjgquBNOKK6D0uOIDID3hjyt-Tf6r4s65zquVM57XyMpRWhvpA3UPDzooE8HhO0kiiIghQKCUu5NwBRyLCBCNMsglMBFp8Q7-cnTh7nR_w-JwSuGG9IQ_Shlc0lMoM5VxZeSoU7U12uTSzXmFWTrC1q0P_hGXRWlsu9tTlbd2L1eMLuIKs1De2hGtlk-1cRJ4bx2v5_ZDluqH2W_7z9LeuOadzD5OYj6LKBxzg2BhlOc0Q1SKDHGmCyS11CgjREmQRHGIuuDZL4E_2L2jnvDDri_zCYWpyrbJydbJ2qzNvtl5yjNVk9dm244OlMfB5R19Mjx8-SwKlI4pR1Eet5-uMETOpAIVMsqKPIgpDUlXn6Q94Y9zO2W_ltt9p2QRwdtyVgr2ir7dXumxDbJgWT5enn9Gi-HzHyM1_728yMTuiy7n-4ibSLPXl33kx4SwP4avu-TDnwDv6wI!/dz/d5/L2dBISEvZ0FBIS9nQSEh/" alt="solicitar cita previa en una pagina web externa")  cita previa
            |  al CAISS elegido, o en las Direcciones Provinciales o Locales del Instituto Social de la Marina (ISM), cuando sea necesario aportar documentación que acredite el derecho a exportar las prestaciones sanitarias.
        p Cualquiera que sea la forma de solicitud de la TSE, ésta se enviará, en un plazo no superior a 10 días, al domicilio que figura en las Bases de Datos de la Seguridad Social por lo que es imprescindible tener actualizado este dato, no entregándose en mano en ningún caso.

        p Cuando no sea posible la emisión de la TSE, o si su desplazamiento es inminente podrá solicitar el Certificado Provisional Sustitutorio de la TSE.

    hr
    h2 Validez
    div.text-justify
        p
            strong La Tarjeta Sanitaria Europea (TSE)
            |  es válida durante dos años, indicándose la fecha de caducidad en la misma. La utilización de la TSE durante su periodo de validez se encuentra condicionada a que su titular continúe reuniendo los requisitos que dieron lugar a su obtención. En otro caso, los gastos que se originen podrían ser reclamados en concepto de prestaciones indebidas, de acuerdo con lo previsto en el artículo 76 del Reglamento (CE) 883/04.
        p Es importante que antes de realizar un desplazamiento a cualquier país del Espacio Económico Europeo (1) o a Suiza, compruebe que dispone de TSE y que su periodo de validez comprende la fecha de regreso prevista. Si no es así, solicite una nueva TSE para asegurar la cobertura sanitaria durante su estancia.

        p
            strong (1) Estados en los que tiene validez la TSE:
            br
            | Alemania, Austria, Bélgica, Bulgaria, Chipre, Croacia, Dinamarca, Eslovaquia, Eslovenia, Estonia, Finlandia, Francia, Grecia, Hungría Irlanda, Islandia, Italia, Letonia, Liechtenstein, Lituania, Luxemburgo, Malta, Noruega, Países Bajos, Polonia, Portugal, Reino Unido, República Checa, Rumania, Suecia y Suiza.